.participant-detail-container {
  width: 100%;
}

.participant-detail-contents {
  width: 100%;
  padding: 2em;
}

.participant-detail-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.participant-detail-header-text {
  /* flex-grow: 0; */
  max-width: 60%
}

.participant-detail-controls {
  /* flex-grow: 1; */
  display: flex;
  justify-content: flex-end;
}

.participant-detail-form-contents {
  margin-top: 2em;
}