.participant-text-descriptionLabel {
    padding-bottom: 0.5em;
  }
  
  .participant-files-addButton {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
  }
  
  .participant-files-historyContainer {
    margin-top: 2em;
  }
  
  .participant-files-fileContainer {
    padding: 1em;
  }
  
  .participant-files-fileHeader {
    display: flex;
    justify-content: space-between;
  }
  
  .participant-files-fileBody {
    white-space: pre-line;
  }
  
  .participant-files-emptyHistory {
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  