.status-indicator-container {
  width: 6.75em;
  height: 2.25em;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
