.login-container {
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 20em;
}

.login-form-contents {
  max-width: 100%;
  width: 100%;
}

.login-logo {
  width: 15em;
  padding-top: 2em;
}

.login-bottom-links {
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
  padding: 1em 0.5em;
}

.login-form-field {
  padding: 1em 0 1.5em 0;
  width: 100%;
  height: 4em;
}

.login-form-error-text {
  height: 5em;
  width: 100%;
}

.login-link {
  width: 10em;
}

.login-form-info {
  height: 5em;
  width: calc(100% - 1em);
  padding: 1em 0.5em;
}
