.intake-form-page-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intake-form-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow-y: scroll;
}

.intake-form-bottomBar {
  width: calc(100% - 2em);
  padding: 1em;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.intake-form-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
  max-width: 80%;
}

.intake-form-topBar {
  padding: 0.5em 0 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
}

.intake-form-breadcrumbs {
  padding: 0 0.5em;
  display: block;
}

/* .intake-form-topBar padding bottom will be gone if its in tablet or mobile device */
@media only screen and (max-width: 768px) {
  .intake-form-breadcrumbs {
    margin-top: 1em;
  }
}

.intake-form-captcha {
  text-align: center;
}

.intake-form-fieldsContainer {
  width: 100%;
  padding-top: 3em;
}

.intake-form-logo {
  max-height: 10em;
}

.intake-form-pageContainer {
  width: 100%;
  height: 100%;
}

.intake-form-pageContents {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intake-form-textContainer {
  margin: 1.5em 0;
  max-width: 70%;
}

.grecaptcha-badge {
  visibility: hidden;
}
