.fieldsContainer {
  width: 100%;
  padding-top: 3em;
}

.formRow {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
}

.form-radioGroup {
  padding: 1em;
}

.form-elect {
  padding-right: 1em;
}

.logo {
  max-height: 10em;
}

.startPageContainer {
  width: 100%;
  height: 100%;
}

.startPageContents {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTextContainer {
  margin: 3em 0;
  max-width: 70%;
}

.form-descriptionLabel {
  padding-bottom: 0.5em;
}